@{
    ViewBag.Title = "GaryMoore";
}

<h2 id="contentWhiteText">Gary Moore</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4" @*id="whiteBg"*@>
            <div class="row">
                <div class="col-sm-6">
                    <h2></h2>
                </div>
                <div class="col-sm-6">
                    @*<img src="~/Images/" alt="logo" class="img-rounded" width="100" height="100" />*@
                </div>
            </div>

        </div>
        <div class="col-md-4" @*id="whiteBg"*@>
            <div class="row">
                <div class="col-sm-6">
                    <h2></h2>
                </div>

                <div class="col-sm-6">
                    @*<img src="~/Images/backtofront.PNG" alt="logo" class="img-rounded" width="100" height="100" />*@
                </div>
                <p>

                </p>
            </div>
        </div>
        <div class="col-md-4" @*id="whiteBg"*@>
            <div class="row">
                <div class="col-sm-6">
                    <h2></h2>
                </div>
                <div class="col-sm-6">
                    @*<img src="~/Images/ericbell.PNG" alt="logo" class="img-rounded" width="100" height="100" />*@
                </div>
            </div>
            <p></p>

        </div>
    </div>

    <div class="row">
       <div class="col-md-8" id="whiteBg">
            <p>
                The Story of Gary Moore



                Ireland has produced Moore than its fair share of truly incredible musicians in the modern era. From

                the north came a man whose vision and talent burned as bright as the flame they called the

                Emerald.

                Gary Moore was renowned for his purity of spirit and truly he never gave less than 100%.

                As a young lad he chose like some others to reject the traditional show band path and instead

                followed his influences in the blues/rock idiom. Early heroes were Eric Clapton and ultimately Peter

                Green who’s mentoring directly impacted Gary and would provide him with one of his most valued

                tools, the Greeny 1959 Les Paul Standard.

                His remarkable talent as a guitarist soon stood him apart from all the others, with his quest to really

                communicate with fans as few other guitarists ever have.

                Gary had a unique ability to speak with his guitar as a voice and it was a voice that appealed to many

                sections of the population. As a technical guitarist he yet had a very broad appeal. Mums would hum

                his melodies the same as any anorak wearing guitar fan!

                This voice would literally bring one to tears with it’s powerful beauty.

                His heart was large and beat to it’s own drum, but this was a rhythm that we all could understand.

                That Gary worked with so many diverse musicians and very famous ones was a hallmark of his all too

                brief career.

                He shared stage and record with the many greats of the blues world.

                Able to play what appeared to be a simple genre of music which is actually the most difficult with it’s

                heartfelt emotional component.

                Gary was a master of all he attempted, garnering the respect of those he worked with. One of his

                greatest compliments came from the phenomenal songwriter/guitarist George Harrison. George

                who worked with Gary a few times said that his vibrato and ability to bend notes in perfect pitch was

                one of the things that most amazed him about Gary’s playing. As a guitarist myself, Gary provided

                me with a blueprint to model myself both as a player and a technician.

                The technical side of playing from amplifiers to effects pedals, even the strings he used and picks. All

                these things one could follow and hone your skills!

                He for most of his career prior to a hand injury used heavy strings and high action, giving a purity of

                tone that many others would attempt to mimic but ultimately that’s what it turned out to be!

                Through his career he, first out of necessity, developed a vocal ability that became really quite

                superb.

                Gary was able to infuse the hard rock genre with a socially conscious aspect, that to this day is quite

                unique.

                His friendship with another son of Ireland, this time from the south, Phillip Lynott would shape

                Gary’s songwriting to reflect their Celtic heritage.

                The Celtic rock era would become one of his richest musical endeavours, leading to Wild Frontier

                and After The War.

                Phillip’s song Military Man, the first solo contains such emotional content that is so heartfelt and

                speaks directly to the soul.

                The autobiographical song Blood of Emeralds speaks of Phil’s and his journey from the motherland

                into the stormy seas of the music business that ultimately would claim one of them, way too young.

                The never completed album that Gary was set to begin working upon, the first three songs were

                directly related to his long lost friend.

                There will never be another like Gary Moore he truly was a man for the ages.  We fans who live our

                lives through the incredible gifts he has left us will never forget him. A flame burns brightly in our

                hearts and minds, never to be extinguished. Thank you William Robert Gary Moore we will always

                remember.



                By  David Talkin
            </p>
          
        </div>
        <div class="col-md-4" id="whiteBg">
            <p>The History of Gary Moore </p>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=nlKG7ECPtHE" target="_blank">Part 1</a>
                </li>

                <li>
                    <a href="https://www.youtube.com/watch?v=SusR1OctvPs" target="_blank">Part 2</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=2XAdKcnshXo" target="_blank">Part 3</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=8J8eBFbCfwo" target="_blank">Part 4</a>
                </li>
            </ul>
        </div>
      
    </div>
</div>