@{
    ViewBag.Title = "PastGatherings";
}

<h2 id="contentWhiteText">Past Gatherings</h2>

<div class="row">
    <div class="col-md-4" @*id="whiteBg"*@>
        <div class="row">
            <div class="col-sm-6">
                <h2></h2>
            </div>
            <div class="col-sm-6">
                @*<img src="~/Images/" alt="logo" class="img-rounded" width="100" height="100" />*@
            </div>
        </div>

    </div>
    <div class="col-md-4" id="whiteBg">
        <div class="row">
            <div class="col-sm-6">
                <h2>Back To Front</h2>
            </div>

            <div class="col-sm-6">
                <img src="~/Images/backtofront.PNG" alt="logo" class="img-rounded" width="100" height="100" />
            </div>
            <p>
                We are extremely devoted to Gary, either on personal or musical standpoints. He was able to

                merge his soul in his music, and this can be clearly felt note by note, sometimes touching very

                sensitive topics in his lyrics. He is/was a truly inspiring musician and our tribute to him is what

                we really want to remember of him : on the stage, playing loud with the band, transmitting

                emotions to the people. His music will be in our hearts forever.  Luca, Dario, Willy and Marco –

                Back To Front
            </p>
        </div>
    </div>
    <div class="col-md-4" id="whiteBg">
        <div class="row">
            <div class="col-sm-6">
                <h2>Eric Bell</h2>
            </div>
            <div class="col-sm-6">
                <img src="~/Images/ericbell.PNG" alt="logo" class="img-rounded" width="100" height="100" />
            </div>
        </div>
        <i>
            “When Rory Gallagher passed away, his brother Donel was still rooting for him and looking after this

            affairs. He got about four statues of Rory erected in memory of him, and several streets named after

            him in Cork and Paris, as well as a festival every year in Ballyshannon in honour of him. Philip’s mother

            has done so much for him since he died. A statue in Dublin, a book about him, an annual show, Vibe for

            Philo, that’s been going for 30 years. I'm playing that as well in January. That got me thinking about my

            good friend Gary Moore. There are no streets named after Gary, no statues of Gary. The guy was an

            amazing international guitar player, he sold millions of albums, played with BB King and some of the

            greatest blues guitarists of all time. Yet there’s been no fuss made of his passing. I thought, what can I

            do? I can write a song about him. That’s my little offering, my tribute to Gary which will be on the new

            album, 'Exile'. That's why I'm so pleased to play this tribute gig for Gary to get him the statue he

            deserves.”
        </i><p> Eric Bell</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">


    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
           </div>
</div>
