@{
    ViewBag.Title = "Confirm Email";
}

<h2 id="contentWhiteText">@ViewBag.Title.</h2>
<div>
    <p id ="contentWhiteText">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </pid>
</div>
