@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you.</h2>
<p>Your transaction was successful,you will recieve the tickets via email. Please be patient this can take some time.</p> 
